@using Email.Models.MailModels;
@using Email.Entity;
@using System.Security.Claims;
@model IQueryable<ListMailModel>
@{
    ViewData["Title"] = "Index";
}
<p>@User?.FindFirst(ClaimTypes.Name)?.Value @User?.FindFirst(ClaimTypes.Surname)?.Value</p>
<div class="sidenav">
    <a class="btn btn-outline-primary" asp-action="SendMail">Send Mail</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.Primary">Primary</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="type:@EmailTypes.Sent">Sent</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.Promotion">Promotion</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.SocialMedia">Social Media</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.Unwanted">Unwanted</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.Junk">Junk</a>
    <a class="btn btn-outline-danger" asp-action="SignOut">Sign Out</a>
</div>
<div class="table" style="width:100%">
    @foreach (var item in Model)
    {
        <a class="btn btn-outline-dark" style="height:65px;width:100%;" asp-action="OpenMail" asp-route-mailId="@item.Id">
            <div class="d-xxl-table-cell">
                <p>@item.SenderName</p>
            </div> 
                    <div class="d-xxl-table-cell" style="width:78%;text-align:left;">
                <p>@item.Subject - @item.Message</p>
            </div>
                    <div class="d-xxl-table-cell">
                <form method="post">
                        <button class="btn btn-outline-light" type="submit" asp-action="Delete" asp-route-value="@ViewData["value"]" asp-route-mailId="@item.Id" >Delete</button>
                </form>
            </div>
            <div class="d-xxl-table-cell" style="text-align:right;width = 100%;">
                <p>@item.DateTime_</p>
            </div>      
        </a>         
    }
</div>

