@using Email.Models.MailModels;
@using System.Security.Claims;
@model IQueryable<ListMailModel>
@{
    ViewData["Title"] = "Index";
}
<p>@User?.FindFirst(ClaimTypes.Name)?.Value @User?.FindFirst(ClaimTypes.Surname)?.Value</p>
<div class="sidenav">
    <a class="btn btn-outline-primary" asp-action="SendMail">Send Mail</a>
    <a class="btn-secondary" href="#">Primary</a>
    <a class="btn-secondary" href="#">Sent</a>
    <a class="btn-secondary" href="#">Promotion</a>
    <a class="btn-secondary" href="#">Social Media</a>
    <a class="btn-secondary" href="#">Unwanted</a>
    <a class="btn-secondary" href="#">Junk</a>
    <a class="btn btn-outline-danger" asp-action="SignOut">Sign Out</a>
</div>
<div class="table" style="width:100%">
    @foreach (var item in Model)
    {
        <a class="btn btn-outline-dark" style="height:65px" asp-action="OpenMail" asp-route-mailId="@item.Id">
            <div class="d-xxl-table-cell">
                <p>@item.SenderName</p>
            </div> 
                <div class="d-xxl-table-cell" style="width:80%;">
                <p>@item.Subject - @item.Message</p>
            </div>
                <div class="d-xxl-table-cell">
                <form method="post">
                    <button class="btn btn-outline-light" type="submit" asp-action="Delete" asp-route-mailId="@item.Id" >Delete</button>
                </form>
            </div>
                <div class="d-xxl-table-cell" style="width:20%;">
                <p>@item.DateTime_</p>
            </div>      
        </a>         
    }
</div>

