@using Email.Entity;
@using Email.Models.MailModels
@model MailModel
@{
    ViewData["Title"] = "OpenMail";
}
<div class="sidenav">
    <a class="btn btn-outline-primary" asp-action="SendMail">Send Mail</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.Primary">Primary</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="type:@EmailTypes.Sent">Sent</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.Promotion">Promotion</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.SocialMedia">Social Media</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.Unwanted">Unwanted</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.Junk">Junk</a>
    <a class="btn btn-outline-danger" asp-action="SignOut">Sign Out</a>
</div>
<label>From: @Model.Sender</label>
<h2>@Model.Subject</h2>
<p>@Model.DateTime_</p>
<label>To: @String.Join(",",Model.Receivers);</label>
<p>@Model.Message</p>