@using Email.Entity;
@using Email.Models.MailModels
@model MailModel
@{
    ViewData["Title"] = "OpenMail";
}
<div class="sidenav">
    <a class="btn btn-outline-primary" asp-action="SendMail">Send Mail</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.Primary">Primary</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="type:@EmailTypes.Sent">Sent</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.Promotion">Promotion</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.SocialMedia">Social Media</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.Unwanted">Unwanted</a>
    <a class="btn-secondary" asp-action="Index" asp-route-value="category:@EmailCategories.Junk">Junk</a>
    <a class="btn btn-outline-danger" asp-action="SignOut">Sign Out</a>
</div>
<div class="form-control" style="width:80%;overflow-wrap: break-word;">
    <div style="margin:5px;">
        <label>From:</label> 
        @Model.Sender
    </div> 
    <h2 style="margin:5px;">@Model.Subject</h2>  
    <div style="margin:5px;">
        <label>Date:</label> 
        @Model.DateTime_
    </div>
    <div style="margin:5px;">
        <label>To:</label> 
        @String.Join(",",Model.Receivers)
    </div> 
    <span style="white-space: pre-line;margin:5px;margin-top:20px;margin-bottom:50px;padding-right:500px">@Model.Message</span>
</div>
